<template name="settings">
  <h1>Settings</h1>
  {{# if settings }}
  {{#if logo }}
    <h2>Current logo</h2>
    <img src="{{ logo.url }}" width="200px"/>
  {{/ if }}
  {{#autoForm id="settings-form" type="update" collection="Settings" doc=settings }}

    {{> afQuickField name='brandingImageId'}}

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="reset" class="btn btn-default">Reset Form</button>
  </div>
  {{/autoForm}}
  {{ else }}
  <p>No settings exist!</p>
  {{#autoForm id="settings-form" type="insert" collection="Settings"}}

  {{> afQuickField name='brandingImageId'}}

  {{> afQuickField name='baseUrl'}}

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="reset" class="btn btn-default">Reset Form</button>
  </div>
  {{/autoForm}}

  {{/ if }}
</template>
